#Tool 
tool/Postgresql/data
tool/Postgresql/work
tool/Rabbitmq/data
tool/Rabbitmq/logs
tool/Mariadb/data
tool/redis/data
tool/works/

#Elk
elk/data01
elk/data02
elk/data03

#Elk
elk/data01
elk/data02
elk/data03

#kafka
kafka/data

#제외파일
.DS_Store